body {
  font-family: "Lato", "Open Sans", sans-serif;
}
.container {
  margin: 0 6px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.faded {
  opacity: 0.08;
}
.switchbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch {
  display: flex;
  flex-direction: column;
}
.switch img {
  max-width: 100%;
  height: auto;
}
div.tablet,
div.large {
  display: none;
}
.switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch label {
  cursor: pointer;
  width: 165px;
  height: 56px;
  background: #ffffff;
  display: block;
  border-radius: 28px;
  position: relative;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  order: 3;
  color: #cecece;
}
.switch label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 44px;
  background: #c80303;
  border-radius: 90px;
  transition: 0.3s;
}
.switch input:checked + label .switchstate.mit {
  color: #ffffff;
}
.switch input + label .switchstate.ohne {
  color: #ffffff;
}
.switch input:checked + label .switchstate.ohne {
  color: #cecece;
}
.switch input:checked + label {
  background: #ffffff;
}
.switch input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-color: #05c803;
}
.switch label:active:after {
  width: 130px;
}
.switchstate {
  z-index: 1;
  font-size: 12px;
  user-select: none;
  width: 67px;
  height: 44px;
  position: absolute;
}
.switchstate.mit {
  top: 5px;
  right: 6px;
}
.switchstate.ohne {
  top: 5px;
  left: 6px;
}
.switchstate.ohne .switchtext {
  top: 15px;
  position: absolute;
  left: 16px;
}
.switchstate.mit .switchtext {
  position: absolute;
  top: 15px;
  right: 22px;
}
.content {
  order: 1;
}
.switch input[type="checkbox"] {
  order: 2;
}
.switch .tradelogo {
  order: 4;
  margin: 10px auto 0;
  width: 154px;
}
.switch input[type="checkbox"]:checked ~ label ~ .content .inactive {
  display: none;
}
.switch input[type="checkbox"]:checked ~ label ~ .content .active {
  display: block;
}
.switchbox a {
  text-decoration: none;
}
@media (min-width: 376px) {
  .container {
    margin: 0 10%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1499px) {
  div.tablet {
    display: block;
  }
  img.phone {
    display: none;
  }
  .switch label {
    position: relative;
    top: -100px;
    left: -34px;
  }
  .content {
    position: relative;
  }
  .animation {
    transition: transform 300ms ease-in-out,
      background-position 200ms ease-in-out, background-color 300ms ease-in-out;
  }
  .switch .tradelogo {
    width: 154px;
    position: relative;
    top: -100px;
    left: -34px;
  }
  .tablet {
    width: 745px;
    height: 504px;
  }
  .tablet .headline {
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .tablet .text {
    position: absolute;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .tablet .alzura-plattform {
    position: absolute;
    background-image: url(tablet/alzura-plattform.svg);
    width: 153px;
    height: 125px;
    top: 0px;
    left: 269px;
  }
  .active .tablet .alzura-plattform:hover {
    background-image: url(tablet/alzura-plattform-copy-active.svg);
    background-size: contain;
  }
  .active .tablet .alzura-plattform:hover .alzura-plattformtext {
    display: block;
    width: 200px;
    height: 75px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    font-size: 11px;
    position: relative;
    left: -220px;
    top: 10px;
    border-radius: 10px;
  }
  .active .tablet .alzura-plattform:hover .alzura-plattformpointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #ffffff;
    position: relative;
    top: -58px;
    left: 0px;
  }
  .active .tablet .alzura-plattform .alzura-plattformtext:hover {
    display: block;
  }
  .active .tablet .alzura-plattform:hover .alzura-plattformtext a {
    color: #002a91;
    padding-top: 5px;
    position: relative;
    top: 7px;
  }
  .active .tablet .azttext {
    width: 186px;
    height: 41px;
    font-family: Lato;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 310px;
    left: 245px;
  }
  .tablet .azm-logo {
    position: absolute;
    background-image: url(tablet/azm-logo.svg);
    width: 148px;
    height: 20px;
    object-fit: contain;
    top: 36px;
    left: 428px;
  }

  .tablet .azm-logotext .text {
    width: 171px;
    height: 26px;
    top: 65px;
    left: 429px;
    text-align: left;
  }
  .tablet .manufacturer {
    position: absolute;
    background-image: url(tablet/manufacturer.svg);
    width: 152px;
    height: 155px;
    object-fit: contain;
    left: 36px;
    top: 270px;
  }
  .tablet .manufacturertext .headline {
    width: 179px;
    left: 20px;
    top: 439px;
  }
  .tablet .manufacturertext .text {
    left: 1px;
    top: 461px;
    width: 215px;
  }
  .tablet .manufacturer-azp {
    position: absolute;
    background-image: url(tablet/manufacturer-azp.svg);
    width: 195px;
    height: 195px;
    object-fit: contain;
    top: 66px;
    left: 60px;
  }
  .tablet .b-2-b-kunde-image {
    position: absolute;
    background-image: url(tablet/b-2-b-kunde-image.svg);
    object-fit: contain;
    width: 70px;
    height: 61px;
    top: 365px;
    left: 477px;
  }
  .tablet .b-2-b-kunde-imagetext .headline {
    width: 163px;
    height: 13px;
    top: 438px;
    left: 436px;
  }
  .tablet .b-2-b-kunde-imagetext .text {
    width: 133px;
    height: 41px;
    top: 461px;
    left: 451px;
  }
  .tablet .b-2-c-kunden-image {
    position: absolute;
    background-image: url(tablet/b-2-c-kunden-image.svg);
    object-fit: contain;
    width: 141px;
    height: 85px;
    top: 345px;
    left: 589px;
  }
  .tablet .b-2-c-kunden-imagetext .headline {
    width: 82px;
    height: 10px;
    top: 439px;
    left: 630px;
  }
  .tablet .b-2-c-kunden-imagetext .text {
    width: 135px;
    height: 39px;
    top: 461px;
    left: 608px;
  }
  .tablet .manufacturer-b-2-b-kunden {
    position: absolute;
    background-image: url(tablet/manufacturer-b-2-b-kunden.svg);
    width: 266px;
    height: 68px;
    object-fit: contain;
    top: 336px;
    left: 200px;
  }
  .tablet .manufacturer-b-2-c-kunden {
    position: absolute;
    background-image: url(tablet/manufacturer-b-2-c-kunden.svg);
    width: 395px;
    height: 94px;
    object-fit: contain;
    top: 265px;
    left: 145px;
  }
  .tablet .azp-b-2-b-b-2-c-kunden {
    position: absolute;
    background-image: url(tablet/azp-b-2-b-b-2-c-kunden.svg);
    width: 217px;
    height: 273px;
    object-fit: contain;
    top: 66px;
    left: 497px;
  }
  .tablet .connection-azt-and-azp {
    position: absolute;
    background-image: url(tablet/connection-azt-and-azp.svg);
    width: 57px;
    height: 47px;
    top: 113px;
    left: 314px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: orbit 6s ease infinite;
    -moz-animation: orbit 6s ease infinite;
    animation: orbit 6s ease infinite;
    -webkit-mask-box-image: url(tablet/connection-azt-and-azp.svg);
    -moz-mask-box-image: url(tablet/connection-azt-and-azp.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
  .tablet .alzura-trade-image {
    position: absolute;
    background-image: url(tablet/alzura-trade-image.svg);
    width: 107px;
    height: 112px;
    object-fit: contain;
    top: 152px;
    left: 286px;
  }
  .active .tablet .alzura-trade-image:hover {
    position: relative;
    background-image: url(tablet/alzura-trade-image-active.svg);
  }
  .tablet .alzura-trade-image:hover .alzura-trade-imagetext {
    display: block;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    top: -50px;
    left: -255px;
    width: 230px;
    font-size: 11px;
    z-index: 1;
  }
  .tablet .alzura-trade-image:hover .alzura-trade-imagepointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #ffffff;
    position: relative;
    top: 20px;
    left: -5px;
    z-index: 1;
  }
  .tablet .alzura-trade-rgb-dark-indigo {
    position: absolute;
    background-image: url(tablet/alzura-trade-rgb-dark-indigo.svg);
    width: 154px;
    height: 26px;
    object-fit: contain;
    top: 276px;
    left: 260px;
    transform: scale(0.8);
  }
  .tablet .manufacturer-to-azt {
    position: absolute;
    background-image: url(tablet/manufacturer-to-azt.svg);
    width: 157px;
    height: 149px;
    object-fit: contain;
    top: 200px;
    left: 117px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: manufacturer-to-azt 6s ease infinite;
    -moz-animation: manufacturer-to-azt 6s ease infinite;
    animation: manufacturer-to-azt 6s ease infinite;

    -webkit-mask-box-image: url(tablet/manufacturer-to-azt.svg);
    -moz-mask-box-image: url(tablet/manufacturer-to-azt.svg);
    -moz-mask-image: url(tablet/manufacturer-to-azt.svg);
    mask-image: url(tablet/manufacturer-to-azt.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
  .tablet .atz-b-2-b-b-2-c-kunden {
    position: absolute;
    background-image: url(tablet/atz-b-2-b-b-2-c-kunden.svg);
    width: 282px;
    height: 152px;
    object-fit: contain;
    top: 199px;
    left: 404px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: azt-b-2-b-b-2-c-kunden 6s ease infinite;
    -moz-animation: azt-b-2-b-b-2-c-kunden 6s ease infinite;
    animation: azt-b-2-b-b-2-c-kunden 6s ease infinite;

    -webkit-mask-box-image: url(tablet/atz-b-2-b-b-2-c-kunden.svg);
    -moz-mask-box-image: url(tablet/atz-b-2-b-b-2-c-kunden.svg);
    -moz-mask-image: url(tablet/atz-b-2-b-b-2-c-kunden.svg);
    mask-image: url(tablet/atz-b-2-b-b-2-c-kunden.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
  .tablet .manufacturer-b-2-c-kundenicons {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -124px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 278px;
    left: 333px;
    transform: scale(1.5);
  }
  .tablet .manufacturer-azpicons {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 138px;
    left: 80px;
  }
  .tablet .manufacturer-b-2-b-kundenicons {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 347px;
    left: 303px;
  }
  .tablet .azp-b-2-b-b-2-c-kundenicons1 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 182px;
    left: 516px;
  }
  .tablet .azp-b-2-b-b-2-c-kundenicons2 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-position-y: 0px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 180px;
    left: 670px;
    transform: scale(1.5);
    border: solid 2px #c9d8fc;
    background-color: #ffffff;
    border-radius: 100%;
  }

  .tablet .azp-b-2-b-b-2-c-kundenicons3 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 258px;
    left: 450px;
  }
  .active .tablet .azp-b-2-b-b-2-c-kundenicons3 {
    position: relative;
    top: 8px;
    left: 16px;
  }
  .active .tablet .azp-b-2-b-b-2-c-kundenback3 {
    height: 45px;
    width: 113px;
    position: absolute;
    top: 250px;
    left: 435px;
    background-color: #ffffff;
    border-radius: 22px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundenicons3 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    transform: scale(1);
    background-position-x: -2px;
    background-repeat: no-repeat;
    background-position-y: -32px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 8px;
    left: 14px;
  }
  .active .tablet .azp-b-2-b-b-2-c-kundenback3:hover {
    background-color: #002a91;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3 {
    width: 290px;
    height: 130px;
    display: block;
    position: absolute;
    font-size: 11px;
    top: -160px;
    left: -110px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundenpointer3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 50px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3
    ul.azp-b-2-b-b-2-c-kundenlist3 {
    padding: 0;
    list-style: none;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3
    ul.azp-b-2-b-b-2-c-kundenlist3
    li {
    height: 20px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3
    ul.azp-b-2-b-b-2-c-kundenlist3
    .listicon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -158px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    height: 20px;
    width: 20px;
    float: left;
    clear: both;
    position: relative;
    top: -3px;
  }

  .tablet .azp-b-2-b-b-2-c-kundenicons4 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 257px;
    left: 585px;
  }
  .active .tablet .azp-b-2-b-b-2-c-kundenicons4 {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .active .tablet .azp-b-2-b-b-2-c-kundenback4 {
    height: 45px;
    width: 113px;
    position: absolute;
    top: 250px;
    left: 569px;
    background-color: #ffffff;
    border-radius: 22px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundenicons4 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    transform: scale(1);
    background-position-x: -2px;
    background-repeat: no-repeat;
    background-position-y: -32px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 8px;
    left: 14px;
  }
  .active .tablet .azp-b-2-b-b-2-c-kundenback4:hover {
    background-color: #002a91;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4 {
    width: 290px;
    height: 130px;
    display: block;
    position: absolute;
    font-size: 11px;
    top: -160px;
    left: -110px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundenpointer4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 50px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4
    ul.azp-b-2-b-b-2-c-kundenlist4 {
    padding: 0;
    list-style: none;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4
    ul.azp-b-2-b-b-2-c-kundenlist4
    li {
    height: 20px;
  }
  .active
    .tablet
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4
    ul.azp-b-2-b-b-2-c-kundenlist4
    .listicon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -158px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    height: 20px;
    width: 20px;
    float: left;
    clear: both;
    position: relative;
    top: -3px;
  }
  .tablet .manufacturer-to-azticon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -86px;
    background-repeat: no-repeat;
    background-position-y: 3px;
    height: 38px;
    width: 38px;
    position: absolute;
    top: 253px;
    left: 135px;
    transform: scale(1);
    border-radius: 100%;
  }
  .active .manufacturer-to-azticon {
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .active .tablet .manufacturer-to-aztback {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 251px;
    left: 132px;
    background-color: #ffffff;
    border-radius: 100%;
  }
  .active .tablet .manufacturer-to-aztback:hover .manufacturer-to-azticon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -86px;
    background-repeat: no-repeat;
    background-position-y: -30px;
    height: 38px;
    width: 38px;
    position: relative;
    top: 6px;
    left: 4px;
    transform: scale(1);
  }
  .active .tablet .manufacturer-to-aztback:hover {
    background-color: #002a91;
    height: 45px;
    width: 45px;
    left: 131px;
    top: 250px;
  }
  .active .tablet .manufacturer-to-aztback:hover .manufacturer-to-azttext {
    width: 140px;
    display: block;
    position: absolute;
    font-size: 11px;
    top: -70px;
    left: -60px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  .active .tablet .manufacturer-to-aztback:hover .manufacturer-to-aztpointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 15px;
  }
}

/* Large */
@media (min-width: 1500px) {
  div.large {
    display: block;
  }
  img.phone,
  div.tablet {
    display: none;
  }
  .switch label {
    position: relative;
    top: -28px;
    left: -34px;
    width: 217px;
    height: 56px;
  }
  .switchstate.ohne {
    left: 15px;
  }
  .switchstate.mit {
    right: 15px;
  }
  .switch label:after {
    width: 90px;
  }
  .content {
    position: relative;
  }
  .animation {
    transition: transform 300ms ease-in-out,
      background-position 200ms ease-in-out, background-color 300ms ease-in-out;
  }
  .switch .tradelogo {
    top: -28px;
    left: -30px;
    position: relative;
    width: 154px;
  }
  .large {
    width: 1222px;
    height: 624px;
  }
  .large .alzura {
    position: absolute;
    left: 494px;
  }
  .large .alzuratradelogo {
    position: absolute;
    top: 44px;
    left: 697px;
  }
  .large .alzuratradetext {
    position: absolute;
    top: 79px;
    left: 697px;
    width: 190px;
    font-size: 14px;
  }
  .large .b2c {
    position: absolute;
    top: 386px;
    left: 1005px;
  }
  .large .b2c img {
    max-width: inherit;
  }
  .large .b2b {
    position: absolute;
    top: 408px;
    left: 821px;
  }
  .large .manu_azp {
    position: absolute;
    top: 61px;
    left: 114px;
  }
  .large .b2b_b2c_Kunden {
    position: absolute;
    top: 415px;
    left: 921px;
  }
  .large .manu_b2c {
    position: absolute;
    top: 342px;
    left: 239px;
  }
  .large .azp_b2 {
    position: absolute;
    top: 61px;
    left: 854px;
  }
  .large .manu_b2b {
    position: absolute;
    top: 419px;
    left: 239px;
  }
  .large .manufacturer-azt {
    position: absolute;
    top: 239px;
    left: 122px;
  }
  .large .azt {
    position: absolute;
    top: 191px;
    left: 521px;
  }
  .large .aztcircle {
    position: absolute;
    top: 143px;
    left: 553px;
  }
  .large .azt-b-2-b-b-2-c-kunden {
    position: absolute;
    top: 238px;
    left: 670px;
  }
  .large .b2ctext .headline {
    position: absolute;
    top: 522px;
    left: 1044px;
  }
  .large .b2ctext .text {
    position: absolute;
    top: 557px;
    left: 997px;
    width: 190px;
  }
  .large .b2btext .headline {
    position: absolute;
    top: 522px;
    left: 792px;
  }
  .large .b2btext .text {
    position: absolute;
    top: 557px;
    left: 791px;
    width: 190px;
  }
  .large .headline {
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .large .text {
    position: absolute;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
  .large .alzura-plattform {
    position: absolute;
    background-image: url(large/azm-image.svg);
    width: 191px;
    height: 157px;
    top: 0px;
    left: 494px;
  }
  .large .questionmark1 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 20px;
    position: absolute;
    top: 209px;
    left: 1057px;
    transform: scale(1.25);
  }
  .large .questionmark2 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 20px;
    position: absolute;
    top: 358px;
    left: 683px;
    transform: scale(1.25);
  }
  .large .active .questionmark1,
  .large .active .questionmark2 {
    display: none;
  }
  .active .large .alzura-plattform:hover {
    background-image: url(large/alzura-plattform-copy-active.svg);
    background-size: contain;
  }
  .active .large .alzura-plattform:hover .alzura-plattformtext {
    display: block;
    width: 200px;
    height: 75px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    font-size: 11px;
    position: relative;
    left: -220px;
    top: 10px;
    border-radius: 10px;
  }
  .active .large .alzura-plattform:hover .alzura-plattformpointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #ffffff;
    position: relative;
    top: -58px;
    left: 0px;
  }
  .active .large .alzura-plattform .alzura-plattformtext:hover {
    display: block;
  }
  .active .large .alzura-plattform:hover .alzura-plattformtext a {
    color: #002a91;
    padding-top: 5px;
    position: relative;
    top: 7px;
  }
  .large .azm-logo {
    position: absolute;
    background-image: url(large/azm-logo.svg);
    width: 185px;
    height: 25px;
    object-fit: contain;
    top: 44px;
    left: 697px;
  }
  .active .large .azttext {
    width: 284px;
    height: 51px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 379px;
    left: 445px;
  }
  .large .azm-logotext .text {
    width: 190px;
    height: 34px;
    top: 79px;
    left: 697px;
    text-align: left;
  }
  .large .manufacturer {
    position: absolute;
    background-image: url(large/manufacturer.svg);
    width: 229px;
    height: 234px;
    left: 7px;
    top: 276px;
  }
  .large .manufacturertext .headline {
    width: 213px;
    left: 8px;
    top: 522px;
  }
  .large .manufacturertext .text {
    left: 3px;
    top: 556px;
    width: 224px;
  }
  .active .large .manufacturertext .text {
    width: 245px;
  }
  .large .manufacturer-azp {
    position: absolute;
    background-image: url(large/manufacturer-azp.svg);
    width: 195px;
    height: 195px;
    object-fit: contain;
    top: 66px;
    left: 60px;
  }
  .large .b-2-b-kunde-image {
    position: absolute;
    background-image: url(large/b-2-b-kunde-image.svg);
    object-fit: contain;
    width: 118px;
    height: 102px;
    top: 408px;
    left: 821px;
  }
  .large .b-2-b-kunde-imagetext .headline {
    width: 198px;
    height: 22px;
    top: 522px;
    left: 792px;
  }
  .large .b-2-b-kunde-imagetext .text {
    width: 190px;
    height: 51px;
    top: 557px;
    left: 791px;
  }
  .large .b-2-c-kunden-image {
    position: absolute;
    background-image: url(large/b-2-c-kunden-image.svg);
    object-fit: contain;
    width: 217px;
    height: 129px;
    top: 386px;
    left: 1005px;
  }
  .large .b-2-c-kunden-imagetext .headline {
    width: 102px;
    height: 22px;
    top: 522px;
    left: 1044px;
  }
  .large .b-2-c-kunden-imagetext .text {
    width: 190px;
    height: 51px;
    top: 557px;
    left: 997px;
  }
  .large .aztlogo {
    position: absolute;
    top: 345px;
    left: 480px;
    width: 210px;
    height: 34px;
  }
  .large .manufacturer-b-2-b-kunden {
    position: absolute;
    background-image: url(large/manufacturer-b-2-b-kunden.svg);
    width: 266px;
    height: 68px;
    object-fit: contain;
    top: 336px;
    left: 200px;
  }
  .large .manufacturer-b-2-c-kunden {
    position: absolute;
    background-image: url(large/manufacturer-b-2-c-kunden.svg);
    width: 395px;
    height: 94px;
    object-fit: contain;
    top: 265px;
    left: 145px;
  }
  .large .azp-b-2-b-b-2-c-kunden {
    position: absolute;
    background-image: url(large/azp-b-2-b-b-2-c-kunden.svg);
    width: 217px;
    height: 273px;
    object-fit: contain;
    top: 66px;
    left: 497px;
  }
  .large .connection-azt-and-azp {
    position: absolute;
    background-image: url(large/connection-azt-and-azp.svg);
    width: 56px;
    height: 46px;
    object-fit: contain;
    top: 114px;
    left: 312px;
  }
  .large .alzura-trade-image {
    position: absolute;
    background-image: url(large/azt.svg);
    width: 107px;
    height: 112px;
    object-fit: contain;
    top: 152px;
    left: 286px;
  }
  .active .large .alzura-trade-image:hover {
    position: relative;
    background-image: url(large/azt-hover.svg);
  }
  .active .large .manufacturer-azp {
    display: none;
  }
  .large .alzura-trade-image:hover .alzura-trade-imagetext {
    display: block;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: -255px;
    width: 230px;
    font-size: 11px;
    z-index: 1;
  }
  .large .alzura-trade-image:hover .alzura-trade-imagepointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 14px;
    border-color: transparent transparent transparent #ffffff;
    position: relative;
    top: 70px;
    left: -5px;
    z-index: 1;
  }
  .large .alzura-trade-rgb-dark-indigo {
    position: absolute;
    top: 340px;
    left: 480px;
    width: 210px;
    height: 34px;
    background-image: url(large/alzura-trade-rgb-dark-indigo.svg);
  }
  .large .manufacturer-to-azt {
    position: absolute;
    background-image: url(large/manufacturer-azt.svg);
    width: 372px;
    height: 157px;
    object-fit: contain;
    top: 239px;
    left: 129px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: manufacturer-to-azt 6s ease infinite;
    -moz-animation: manufacturer-to-azt 6s ease infinite;
    animation: manufacturer-to-azt 6s ease infinite;
    -webkit-mask-box-image: url(large/manufacturer-azt.svg);
    -moz-mask-box-image: url(large/manufacturer-azt.svg);
    -moz-mask-image: url(large/manufacturer-azt.svg);
    mask-image: url(large/manufacturer-azt.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
  .large .atz-b-2-b-b-2-c-kunden {
    position: absolute;
    background-image: url(large/atz-b-2-b-b-2-c-kunden.svg);
    width: 282px;
    height: 152px;
    object-fit: contain;
    top: 199px;
    left: 404px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: atz-b-2-b-b-2-c-kunden 6s ease infinite;
    -moz-animation: atz-b-2-b-b-2-c-kunden 6s ease infinite;
    animation: atz-b-2-b-b-2-c-kunden 6s ease infinite;
    -webkit-mask-box-image: url(large/atz-b-2-b-b-2-c-kunden.svg);
    -moz-mask-box-image: url(large/atz-b-2-b-b-2-c-kunden.svg);
    -webkit-mask-image: url(large/atz-b-2-b-b-2-c-kunden.svg);
    -moz-mask-image: url(large/atz-b-2-b-b-2-c-kunden.svg);
    mask-image: url(large/atz-b-2-b-b-2-c-kunden.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
  .large .manufacturer-b-2-c-kundenicons {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -124px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 278px;
    left: 333px;
    transform: scale(1.5);
  }
  .large .manufacturer-azpicons {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 138px;
    left: 80px;
  }
  .large .manufacturer-b-2-b-kundenicons {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 347px;
    left: 303px;
  }
  .large .azp-b-2-b-b-2-c-kundenicons1 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 182px;
    left: 516px;
  }
  .large .azp-b-2-b-b-2-c-kundenicons2 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-position-y: 0px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 180px;
    left: 670px;
    transform: scale(1.5);
    border: solid 2px #c9d8fc;
    background-color: #ffffff;
    border-radius: 100%;
  }
  .large .azp-b-2-b-b-2-c-kundenicons1 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 194px;
    left: 180px;
  }
  .large .azp-b-2-b-b-2-c-kundenicons3 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 402px;
    left: 488px;
  }
  .active .large .azp-b-2-b-b-2-c-kundenicons3 {
    position: relative;
    top: 8px;
    left: 16px;
  }
  .active .large .azp-b-2-b-b-2-c-kundenback3 {
    height: 45px;
    width: 113px;
    position: absolute;
    top: 295px;
    left: 781px;
    background-color: #ffffff;
    border-radius: 22px;
    z-index: 1;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundenicons3 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    transform: scale(1);
    background-position-x: -2px;
    background-repeat: no-repeat;
    background-position-y: -32px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 8px;
    left: 14px;
  }
  .active .large .azp-b-2-b-b-2-c-kundenback3:hover {
    background-color: #002a91;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3 {
    width: 290px;
    height: 130px;
    display: block;
    position: absolute;
    font-size: 11px;
    top: -160px;
    left: -110px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundenpointer3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 50px;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3
    ul.azp-b-2-b-b-2-c-kundenlist3 {
    padding: 0;
    list-style: none;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3
    ul.azp-b-2-b-b-2-c-kundenlist3
    li {
    height: 20px;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback3:hover
    .azp-b-2-b-b-2-c-kundentext3
    ul.azp-b-2-b-b-2-c-kundenlist3
    .listicon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -158px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    height: 20px;
    width: 20px;
    float: left;
    clear: both;
    position: relative;
    top: -3px;
  }
  .large .azp-b-2-b-b-2-c-kundenicons4 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -4px;
    background-repeat: no-repeat;
    background-position-y: -2px;
    height: 28px;
    width: 86px;
    position: absolute;
    top: 205px;
    left: 875px;
  }
  .active .large .azp-b-2-b-b-2-c-kundenicons4 {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .active .large .azp-b-2-b-b-2-c-kundenback4 {
    height: 45px;
    width: 113px;
    position: absolute;
    top: 295px;
    left: 944px;
    background-color: #ffffff;
    border-radius: 22px;
    z-index: 1;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundenicons4 {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    transform: scale(1);
    background-position-x: -2px;
    background-repeat: no-repeat;
    background-position-y: -32px;
    height: 28px;
    width: 86px;
    position: relative;
    top: 8px;
    left: 14px;
  }
  .active .large .azp-b-2-b-b-2-c-kundenback4:hover {
    background-color: #002a91;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4 {
    width: 290px;
    height: 130px;
    display: block;
    position: absolute;
    font-size: 11px;
    top: -160px;
    left: -110px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundenpointer4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 50px;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4
    ul.azp-b-2-b-b-2-c-kundenlist4 {
    padding: 0;
    list-style: none;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4
    ul.azp-b-2-b-b-2-c-kundenlist4
    li {
    height: 20px;
  }
  .active
    .large
    .azp-b-2-b-b-2-c-kundenback4:hover
    .azp-b-2-b-b-2-c-kundentext4
    ul.azp-b-2-b-b-2-c-kundenlist4
    .listicon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -158px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    height: 20px;
    width: 20px;
    float: left;
    clear: both;
    position: relative;
    top: -3px;
  }
  .large .manufacturer-to-azticon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -86px;
    background-repeat: no-repeat;
    background-position-y: 3px;
    height: 38px;
    width: 38px;
    position: absolute;
    top: 253px;
    left: 135px;
    transform: scale(1);
    border-radius: 100%;
  }
  .active .manufacturer-to-azticon {
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .active .large .manufacturer-to-aztback {
    height: 44px;
    width: 44px;
    position: absolute;
    top: 274px;
    left: 236px;
    background-color: #ffffff;
    border-radius: 100%;
  }
  .active .large .manufacturer-to-aztback:hover .manufacturer-to-azticon {
    background-image: url(large/alzura-trade-illustration-sprite-desktop.svg);
    background-position-x: -86px;
    background-repeat: no-repeat;
    background-position-y: -30px;
    height: 38px;
    width: 38px;
    position: relative;
    top: 6px;
    left: 4px;
    transform: scale(1);
  }
  .active .large .manufacturer-to-aztback:hover {
    background-color: #002a91;
    height: 45px;
    width: 44px;
  }
  .active .large .manufacturer-to-aztback:hover .manufacturer-to-azttext {
    width: 140px;
    display: block;
    position: absolute;
    font-size: 11px;
    top: -70px;
    left: -60px;
    box-shadow: 0 0 12px 0 rgba(0, 42, 145, 0.2);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
  }
  .active .large .manufacturer-to-aztback:hover .manufacturer-to-aztpointer {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -12px;
    left: 15px;
  }
  .active .large .azt {
    display: none;
    width: 133px;
    height: 138px;
    background-image: url(large/azt.svg);
  }
  .active .large .aztcircle {
    width: 70px;
    position: absolute;
    height: 52px;
    object-fit: contain;
    background-image: url(large/azt-azp-connection.svg);
    top: 144px;
    left: 552px;
  }
  .active .large .alzura-trade-image:hover {
    background-image: url(large/azt-hover.svg);
    height: 188px;
    width: 133px;
    top: 143px;
    left: 521px;
    background-size: inherit;
    object-fit: contain;
  }
  .active .large .azt-b-2-b-b-2-c-kunden {
    background-image: url(large/azt-b-2-b-b-2-c-kunden.svg);
    width: 393px;
    height: 159px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: azt-b-2-b-b-2-c-kunden 6s ease infinite;
    -moz-animation: azt-b-2-b-b-2-c-kunden 6s ease infinite;
    animation: azt-b-2-b-b-2-c-kunden 6s ease infinite;
    -webkit-mask-box-image: url(large/azt-b-2-b-b-2-c-kunden.svg);
    -moz-mask-box-image: url(large/azt-b-2-b-b-2-c-kunden.svg);
    -moz-mask-image: url(large/azt-b-2-b-b-2-c-kunden.svg);
    mask-image: url(large/azt-b-2-b-b-2-c-kunden.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
  .active .large .alzura-trade-image {
    left: 521px;
    top: 191px;
    width: 133px;
    height: 140px;
    background-size: inherit;
  }
  .active .large .connection-azt-and-azp {
    position: absolute;
    background-image: url(large/azt-azp-connection.svg);
    width: 70px;
    height: 52px;
    background-size: cover;
    top: 143px;
    left: 553px;
    background: linear-gradient(
      90deg,
      #c9d8fc,
      #c9d8fc,
      #002a91,
      #c9d8fc,
      #c9d8fc
    );
    background-size: 600% 600%;
    -webkit-animation: orbit 6s ease infinite;
    -moz-animation: orbit 6s ease infinite;
    animation: orbit 6s ease infinite;
    -webkit-mask-box-image: url(large/azt-azp-connection.svg);
    -moz-mask-box-image: url(large/azt-azp-connection.svg);
    -moz-mask-image: url(large/azt-azp-connection.svg);
    mask-image: url(large/azt-azp-connection.svg);
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-size: 100%;
  }
}

.active .tablet .connection-azt-and-azp {
  display: none;
}
/* manufacturer-to-azt */
@-webkit-keyframes manufacturer-to-azt {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 0% 100%;
  }
  33.33% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 0% 100%;
  }
  83.33% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@-moz-keyframes manufacturer-to-azt {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 0% 100%;
  }
  33.33% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 0% 100%;
  }
  83.33% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes manufacturer-to-azt {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 0% 100%;
  }
  33.33% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 0% 100%;
  }
  83.33% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* azt-b-2-b-b-2-c-kunden */
@-webkit-keyframes azt-b-2-b-b-2-c-kunden {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 100% 0%;
  }
  33.33% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 100% 0%;
  }
  83.33% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-moz-keyframes azt-b-2-b-b-2-c-kunden {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 100% 0%;
  }
  33.33% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 100% 0%;
  }
  83.33% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes azt-b-2-b-b-2-c-kunden {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 100% 0%;
  }
  33.33% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 100% 0%;
  }
  83.33% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/* connection-azt-and-azp */
@-webkit-keyframes orbit {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 0% 100%;
  }
  33.33% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 0% 100%;
  }
  83.33% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@-moz-keyframes orbit {
  0% {
    background-position: 100% 0%;
  }
  16.66% {
    background-position: 0% 100%;
  }
  33.33% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 100%;
  }
  66.66% {
    background-position: 0% 100%;
  }
  83.33% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes orbit {
  0% {
    background-position: 0% 100%;
  }
  16.66% {
    background-position: 0% 100%;
  }
  33.33% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  66.66% {
    background-position: 100% 0%;
  }
  83.33% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.large .connectiontest {
  position: absolute;
  display: block;
  height: 53px;
  width: 71px;
  top: 143px;
  left: 553px;
  background: #fbfcfd;
  background-image: url(large/azt-azp-connection.svg);
  border-radius: 20%;
  background: linear-gradient(
    90deg,
    #c9d8fc,
    #c9d8fc,
    #002a91,
    #c9d8fc,
    #c9d8fc
  );
  background-size: 600% 600%;
  -webkit-mask-box-image: url(large/azt-azp-connection.svg);
  -webkit-mask-box-image: url(large/azt-azp-connection.svg);
  -moz-mask-box-image: url(large/azt-azp-connection.svg);
  -moz-mask-image: url(large/azt-azp-connection.svg);
  mask-image: url(large/azt-azp-connection.svg);
}
.large .connectiontest__circle {
  width: 100%;
  height: 130%;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  position: relative;
  top: -8px;
}
.large .connectiontest__circle:after,
.large .connectiontest__circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
}
.large .connectiontest__circle:before {
  border-radius: 70px 70px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#c9d8fc),
    to(#002a91)
  );
  background-image: linear-gradient(to right, #c9d8fc, #002a91);
  background: linear-gradient(
    to right,
    #002a91 0%,
    #002a91 8%,
    rgba(44, 83, 158, 0) 15%,
    rgba(44, 83, 158, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.large .connectiontest__circle:after {
  top: 50%;
  border-radius: 0 0 70px 70px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#c9d8fc),
    to(transparent)
  );
  background-image: linear-gradient(to right, #c9d8fc, transparent);
}
.large .connectiontest__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 50%;
  width: 50%;
  background: #fff;
  border-radius: 50%;
}
.active .large .connection-azt-and-azp {
  display: none;
}
.tablet .connectiontest {
  position: absolute;
  display: block;
  width: 57px;
  height: 47px;
  top: 113px;
  left: 314px;
  background: #fbfcfd;
  background-image: url(tablet/connection-azt-and-azp.svg);
  border-radius: 20%;
  background: linear-gradient(
    90deg,
    #c9d8fc,
    #c9d8fc,
    #002a91,
    #c9d8fc,
    #c9d8fc
  );
  background-size: 600% 600%;
  -webkit-mask-box-image: url(tablet/connection-azt-and-azp.svg);
  -moz-mask-box-image: url(tablet/connection-azt-and-azp.svg);
  -moz-mask-image: url(tablet/connection-azt-and-azp.svg);
  mask-image: url(tablet/connection-azt-and-azp.svg);
}
.tablet .connectiontest__circle {
  width: 100%;
  height: 130%;
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  position: relative;
  top: -8px;
}
.tablet .connectiontest__circle:after,
.tablet .connectiontest__circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
}
.tablet .connectiontest__circle:before {
  border-radius: 70px 70px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#c9d8fc),
    to(#002a91)
  );
  background-image: linear-gradient(to right, #c9d8fc, #002a91);
  background: linear-gradient(
    to right,
    #002a91 0%,
    #002a91 8%,
    rgba(44, 83, 158, 0) 15%,
    rgba(44, 83, 158, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.tablet .connectiontest__circle:after {
  top: 50%;
  border-radius: 0 0 70px 70px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#c9d8fc),
    to(transparent)
  );
  background-image: linear-gradient(to right, #c9d8fc, transparent);
}
.tablet .connectiontest__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 50%;
  width: 50%;
  background: #fff;
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }
  16.66% {
    -webkit-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }
  33.33% {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
  }
  50% {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
  }
  66.66% {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
  }
  83.33% {
    -webkit-transform: rotate(268deg);
    transform: rotate(268deg);
  }
  100% {
    -webkit-transform: rotate(268deg);
    transform: rotate(268deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }
  16.66% {
    -webkit-transform: rotate(-88deg);
    transform: rotate(-88deg);
  }
  33.33% {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
  }
  50% {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
  }
  66.66% {
    -webkit-transform: rotate(88deg);
    transform: rotate(88deg);
  }
  83.33% {
    -webkit-transform: rotate(268deg);
    transform: rotate(268deg);
  }
  100% {
    -webkit-transform: rotate(268deg);
    transform: rotate(268deg);
  }
}
/* IE special hacks */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .large .manufacturer-to-azt {
    background-image: url(large/manufacturer-azt.svg) !important;
    background-size: 100% !important;
    animation: initial !important;
    mask-image: none !important;
    mask-size: 100% !important;
  }
  .tablet .manufacturer-to-azt {
    background-image: url(tablet/manufacturer-to-azt.svg) !important;
    background-size: 100% !important;
    animation: initial !important;
    mask-image: none !important;
    mask-size: 100% !important;
  }
  .large .azt-b-2-b-b-2-c-kunden {
    background-image: url(large/azt-b-2-b-b-2-c-kunden.svg) !important;
    background-size: 100% !important;
    animation: initial !important;
    mask-image: none !important;
    mask-size: 100% !important;
  }
  .tablet .atz-b-2-b-b-2-c-kunden {
    background-image: url(tablet/atz-b-2-b-b-2-c-kunden.svg) !important;
    background-size: 100% !important;
    animation: initial !important;
    mask-image: none !important;
    mask-size: 100% !important;
  }
  .large .connectiontest {
    background-image: url(large/azt-azp-connection.svg) !important;
    background-size: 100% !important;
    animation: initial !important;
    mask-image: none !important;
    mask-size: 100% !important;
  }
  .tablet .connectiontest {
    background-image: url(tablet/connection-azt-and-azp.svg) !important;
    background-size: 100% !important;
    animation: initial !important;
    mask-image: none !important;
    mask-size: 100% !important;
  }
  .large .connectiontest__circle,
  .tablet .connectiontest__circle {
    display: none;
  }
}
/* IE9 specials */
@media screen and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  .large .manufacturer-to-azt,
  .large .azt-b-2-b-b-2-c-kunden,
  .large .connectiontest,
  .tablet .manufacturer-to-azt,
  .tablet .atz-b-2-b-b-2-c-kunden,
  .tablet .connectiontest {
    background-size: 100% !important;
  }
  #switchcheck,
  .switch .tradelogo {
    top: 480px;
    position: relative;
  }
  .content {
    top: -120px;
  }
  .large .alzura-plattform,
  .tablet .alzura-plattform {
    z-index: 1;
  }
}
/* IE9 (don't work)
@media screen and (min-resolution: 0.001dpcm) and (min-width: 0\0) {
  @media screen and (min-width: 767px) {
    .container {
      width: 736px;
      margin: 0 auto;
    }
  }
}
@media screen and (min-resolution: 0.001dpcm) and (min-width: 0\0) {
  @media screen and (min-width: 1500px) {
    .container {
      width: 1224px;
      margin: 0 auto;
    }
  }
}
*/
